.header {
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    padding: 0 2rem;
    background-color: $almostWhite;
}


@media (min-width:968px) {
    .header {
        padding: 0 5rem;
    }
}


.header__nav-session {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    width: 25rem;
    top: 0;
    right: -25rem;
    padding: 2rem;
    background-color: $almostWhite;
}

@media (min-width:967px) {
    .header__nav-session {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 10rem;
    }
}


.header__icon-close-menu {
    height: 5rem;
    display: flex;
    justify-content: end;
    cursor: pointer;

    img {
        width: 2.6rem;
        height: 2.6rem;
        margin-top: 15px;
    }
}



.nav {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: relative;
}

@media (min-width:967px) {

    .nav {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }
}

.nav__item {
    display: flex;
    gap: .5rem;
    align-items: center;
}


.nav__item-a {
    text-decoration: none;
    color: $mediumGray;
}


.header__session {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 968px) {
    .header__session {
        flex-direction: row;
    }
}

.header__login,
.header__register {
    text-decoration: none;
    color: $mediumGray;
    padding: 1rem 7rem;
}

@media (min-width:968px) {
    .header__login {
        padding: 1rem 2rem;

    }

    .header__register {
        border: 1px solid $mediumGray;
        border-radius: 1.4rem;
        padding: 1rem 2rem;
    }
}


.header__register {
    border: 1px solid $mediumGray;
    border-radius: 1.4rem;
}




@media (min-width:968px) {
    .header__icon-menu {
        display: none;
    }

    .header__icon-close-menu {
        display: none;
    }
}




.sub-nav {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.sub-nav__item {
    display: flex;
    gap: 1rem;
}

.sub-nav__item-a {
    text-decoration: none;
    color: $mediumGray;
}


.active {
    right: 0rem;
}


@media (min-width:968px) {
    .sub-nav {
        position: absolute;
        background-color: white;
        border-radius: 1.2rem;
        box-shadow: 0px 0px 27px -1px rgba(140, 131, 131, 0.75);
        -webkit-box-shadow: 0px 0px 27px -1px rgba(140, 131, 131, 0.75);
        -moz-box-shadow: 0px 0px 27px -1px rgba(140, 131, 131, 0.75);
        padding: 2rem 2.5rem;
    }


    .sub-nav__features--position {
        left: -73px;
        top: 42px;
    }

    .sub-nav__company--position {
        left: 124px;
        top: 42px;
    }
}