* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fontFamilyText;
    font-size: 1.8rem;
    background-color: $almostWhite;
    height: 60rem;
    overflow-x: hidden;
}



html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


img {
    max-width: 100%;
    display: block;
}


@media (min-width:968px) {
    .bg-opacity {
        display: none;
    }

}

.opacity {
    height: calc(100% + 10rem);
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.665);
    top: 0;
    left: -25rem;
    transition: all 1500ms;
}