* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $fontFamilyText;
    font-size: 1.8rem;
    background-color: $almostWhite;
}


html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}


img {
    max-width: 100%;
    display: block;
}